<ion-header mode="ios" [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{ forecast_title }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{ game_title }}</ion-card-title>
      <ion-card-title class="ion-text-center playability_value_font_size">{{ playability_value }}</ion-card-title>
      <ion-card-subtitle class="ion-text-center">{{ forecast_message }}</ion-card-subtitle>
    </ion-card-header>

    <!-- <ion-card-content>
      <ion-item lines="none">
        <ion-label slot="start">{{ cheaters_index_title }}</ion-label>
        <ion-label slot="end">{{ cheaters_index_value }}</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label slot="start">{{ playability_title }}</ion-label>
        <ion-label slot="end">{{ playability_value }}</ion-label>
      </ion-item>
    </ion-card-content> -->
  </ion-card>

  <!-- <ion-card> -->
  <!-- <ion-card-content> -->
  <ion-item lines="none">
    <ion-label slot="start">{{ cheaters_index_title }}</ion-label>
    <ion-label slot="end">{{ cheaters_index_value }}</ion-label>
  </ion-item>

  <ion-item lines="none">
    <ion-label slot="start">{{ playability_title }}</ion-label>
    <ion-label slot="end">{{ playability_value }}</ion-label>
  </ion-item>
  <!-- </ion-card-content> -->
  <!-- </ion-card> -->
</ion-content>